<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Config.FilePath" value="D:/C#Projects/OPCTEST/Conf/S7_PLC01.Main.xlsx;D:/C#Projects/OPCTEST/Conf/S7_PLC15.Main.xlsx"/>
    <add key="Log.FilePath" value="D:/C#Projects/OPCTEST/Log/"/>
    <add key="ServerName" value="Kepware.KEPServerEX.V6"/>
    <add key="SqlStr" value="Data Source=.;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=root"/>
    <add key="DataRefrTimes" value="1000"/>
    <add key="SqlRefrTimes" value="3000"/>
    <add key="bReConnect" value="true"/>
    <add key="ReConnectTimes" value="1000"/>
  </appSettings>
</configuration>